@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Patua+One&family=Permanent+Marker&family=Raleway:wght@200;900&display=swap');

@media (min-width: 600px) {
    .tools {
        display: flex;
        padding: 10px;
        color: #94b3e3;
        text-align: center;
    }

    .tools:hover {
        background-color: #94b3e3;
        color: white;
        transition: .5s;
    }

    .tool {
        flex: 1 1 auto;
        font-family: 'Patua One', cursive;
        padding: 10px;
        margin-bottom: 60px;
    }

    .part {
        font-size: 30px;
        font-weight: 600;
        margin-top: 60px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .tools {
        padding: 10px;
        color: #94b3e3;
        text-align: center;
    }

    .tools:hover {
        background-color: #94b3e3;
        color: white;
        transition: .5s;
    }

    .tool {
        font-family: 'Patua One', cursive;
        padding: 10px;
        margin-bottom: 60px;
    }

    .part {
        font-size: 30px;
        font-weight: 600;
        margin-top: 60px;
        margin-bottom: 30px;
    }
}